local wezterm = require('wezterm')
local config = wezterm.config_builder() 

config.window_close_confirmation = 'AlwaysPrompt'
config.leader = { key = 'Space', mods = 'CTRL', timeout_milliseconds = 1000 }

wezterm.on("update-right-status", function(window, pane)
  local workspace = wezterm.mux.get_active_workspace()

  window:set_right_status(" " .. workspace .. " ")
end)

config.color_scheme = 'OneHalfDark'
config.default_cursor_style = 'SteadyBlock'
{{- if eq .chezmoi.os "darwin" }}
config.font = wezterm.font('CommitMono Nerd Font Mono')
{{- else }}
config.font = wezterm.font('CommitMonoNerdFontMono')
{{- end }}
config.font_size = 12

local copy_only = false

config.bypass_mouse_reporting_modifiers = 'SUPER'

config.mouse_bindings = {
  {
    event = { Up = { streak = 1, button = 'Left' } },
    mods = 'SUPER',
    action = wezterm.action.CompleteSelectionOrOpenLinkAtMouseCursor 'Clipboard',
  },
  {
    event = { Up = { streak = 1, button = 'Right' } },
    mods = 'SUPER',
    action = wezterm.action.CompleteSelectionOrOpenLinkAtMouseCursor 'Clipboard',
  },
}

wezterm.on('open-uri', function(window, pane, uri)
  if copy_only then
    copy_only = false
    window:copy_to_clipboard(uri, 'Clipboard')
    return false
  end

  local event = window:current_event()
  local button = event and event.Up and event.Up.button
  if button == 'Right' then
    window:perform_action(
      wezterm.action.InputSelector {
        title = 'Link',
        choices = {
          { label = 'Open Link', id = 'open' },
          { label = 'Copy Link', id = 'copy' },
        },
        action = wezterm.action_callback(function(win, _pane, id)
          if id == 'copy' then
            win:copy_to_clipboard(uri, 'Clipboard')
          elseif id == 'open' then
            wezterm.open_with(uri)
          end
        end),
      },
      pane
    )
    return false
  end
end)

config.keys = {}
for i = 1, 9 do
    table.insert(config.keys, {
        key = tostring(i),
        mods = 'ALT',
        action = wezterm.action.ActivateTab(i - 1)
    })
end

table.insert(config.keys, {
  key = 'C',
  mods = 'SUPER|SHIFT',
  action = wezterm.action_callback(function(window, pane)
    copy_only = true
    window:perform_action(wezterm.action.CompleteSelectionOrOpenLinkAtMouseCursor 'Clipboard', pane)
  end),
})

table.insert(config.keys, {
  key = 'v',
  mods = 'LEADER',
  action = wezterm.action.SplitVertical { domain = 'CurrentPaneDomain' },
})

table.insert(config.keys, {
  key = 's',
  mods = 'LEADER',
  action = wezterm.action.SplitHorizontal { domain = 'CurrentPaneDomain' },
})

table.insert(config.keys, {
  key = 'f',
  mods = 'LEADER',
  action = wezterm.action.ShowLauncherArgs {
    flags = 'FUZZY|WORKSPACES',
    title = 'Switch workspace',
  },
})

table.insert(config.keys, {
  key = 'c',
  mods = 'LEADER',
  action = wezterm.action.PromptInputLine {
    description = 'Create or switch to workspace:',
    action = wezterm.action_callback(function(window, pane, name)
      if not name or name == '' then
        return
      end

      window:perform_action(wezterm.action.SwitchToWorkspace { name = name }, pane)
    end),
  },
})

table.insert(config.keys, {
  key = 'r',
  mods = 'LEADER',
  action = wezterm.action.PromptInputLine {
    description = 'Rename workspace:',
    action = wezterm.action_callback(function(window, _pane, name)
      local current_name = window:active_workspace()
      if not name or name == '' or name == current_name then
        return
      end

      local success, error_message = pcall(wezterm.mux.rename_workspace, current_name, name)
      if not success then
        window:toast_notification('Unable to rename workspace', tostring(error_message), nil, 4000)
      end
    end),
  },
})

{{- if eq .chezmoi.os "darwin" }}
table.insert(config.keys, {
  key = 'Backspace',
  mods = 'ALT',
  action = wezterm.action.SendKey { key = 'w', mods = 'CTRL' },
})

table.insert(config.keys, {
  key = 'LeftArrow',
  mods = 'ALT',
  action = wezterm.action.SendString '\x1bb',
})

table.insert(config.keys, {
  key = 'RightArrow',
  mods = 'ALT',
  action = wezterm.action.SendString '\x1bf',
})
{{- end }}

return config
