# vim:fileencoding=utf-8:foldmethod=marker

# BEGIN_KITTY_THEME
# One Half Dark
include current-theme.conf
# END_KITTY_THEME

{{- if eq .chezmoi.hostname "MacBookAir" }}
font_size 24.0
window_padding_width 6
{{- end }}
{{- if eq .chezmoi.hostname "joeyarchlinux" }}
font_size 12.0
window_padding_width 8

# Keep clickable tabs visible across the top, including the new-tab button.
tab_bar_edge top
tab_bar_min_tabs 1
tab_bar_show_new_tab_button yes
tab_bar_style separator
tab_separator "   |   "
tab_title_max_length 32
tab_title_template "{index}: {title}"
tab_bar_background #20232a
active_tab_foreground #dcdfe4
active_tab_background #3b4354
inactive_tab_foreground #9da5b4
inactive_tab_background #20232a
active_tab_font_style bold
inactive_tab_font_style normal

# Drag pane title bars to rearrange panes; drag borders to resize them.
enabled_layouts splits,stack
window_title_bar top
window_title_bar_min_windows 2
window_title_bar_align left
window_title_bar_active_foreground #61afef
window_title_bar_active_background #282c34
window_title_bar_inactive_foreground #9da5b4
window_title_bar_inactive_background #282c34
window_border_width 2px
window_drag_tolerance 4

map alt+1 goto_tab 1
map alt+2 goto_tab 2
map alt+3 goto_tab 3
map alt+4 goto_tab 4
map alt+5 goto_tab 5
map ctrl+shift+t new_tab_with_cwd
map ctrl+shift+enter launch --location=vsplit --cwd=current
map ctrl+shift+minus launch --location=hsplit --cwd=current
map ctrl+shift+f toggle_layout stack
{{- end }}


# BEGIN_KITTY_FONTS
font_family      family="BlexMono Nerd Font Mono"
bold_font        auto
italic_font      auto
bold_italic_font auto
# END_KITTY_FONTS
